
# Ignore .env files in frontend and server directories
/frontend/.env
/server/.env

# Ignore node_modules directories in frontend and server
/frontend/node_modules/
/server/node_modules/

# Optional: Ignore build output in frontend
/frontend/build/


