<!DOCTYPE html>
<html>
<head>
    <title>Company Registration Confirmation</title>
</head>
<body>
    <h1>Hello, <%= data.firstName %> <%= data.lastName %>!</h1>
    <p>Thank you for register.</p>
    <p>You are now our exclusive member and you can see the discounted price on the website.</p>
</body>
</html>